
.filledFilespage{
  margin-left: 50px;
  margin-top: 100px;
  margin-right: 50px;
}

.highlight-green {
  background-color: #cbffa9;
  color: black;
}

.highlight-red {
  background-color: #F96666;
  color: white;
}

.filterButton {
  margin-bottom: 20px;
}

.filesTable {
  width: 100%;
}

.mat-elevation-z8 {
  box-shadow: 0px 8px 16px -8px rgba(0, 0, 0, 0.2),
    0px 16px 24px 0px rgba(0, 0, 0, 0.14), 0px 6px 30px 0px rgba(0, 0, 0, 0.12);
}

.downlaodButtonFilledFiles {
  color: #1b1b1d;
  border: solid 1px;
}
