:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer {
    border-radius: 0px;
    width: 217px;
    background: rgb(243, 242, 242);
  }
  mat-drawer-container {
    height: 100%;
  }
  