<div class="filesAdmin">
  <div class="addFilterButtons">
    <div class="filter">
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter files" />
      <mat-icon> filter list icon</mat-icon>
    </div>
    <button mat-raised-button (click)="openAddFileForm()" class="addFileButton">
      <mat-icon>add</mat-icon>
      ADD FILE
    </button>
  </div>
  
  <div class="fileTable">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="filesTable">
        <!-- Ref Column -->
        <ng-container matColumnDef="ref">
          <th mat-header-cell *matHeaderCellDef>Ref</th>
          <td mat-cell *matCellDef="let element">{{ element.ref }}</td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
  
        <!-- Filename Column -->
        <ng-container matColumnDef="filename">
          <th mat-header-cell *matHeaderCellDef>File Name</th>
          <td mat-cell *matCellDef="let element">{{ element.filename }}</td>
        </ng-container>
  
        <!-- UserType Column -->
        <ng-container matColumnDef="userType">
          <th mat-header-cell *matHeaderCellDef class="companyName">Company</th>
          <td mat-cell *matCellDef="let element" class="companyName">
            {{ element.userType }}
          </td>
        </ng-container>
  
        <!-- Month Columns -->
        <ng-container
          *ngFor="
            let month of [
              'january',
              'february',
              'march',
              'april',
              'may',
              'june',
              'july',
              'august',
              'september',
              'october',
              'november',
              'december'
            ]
          "
          [matColumnDef]="month"
        >
          <th mat-header-cell *matHeaderCellDef>{{ month | titlecase }}</th>
          <td mat-cell *matCellDef="let element">{{ element[month] }}</td>
        </ng-container>
  
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              class="deleteButton"
              (click)="deleteFile(element.ref)"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              mat-icon-button
              class="editButton"
              (click)="openUpdateFileForm()"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              class="downloadButton"
              (click)="downloadFile(element.ref)"
            >
              <mat-icon>cloud_download</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
  
</div>