.addFileButton {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 970px;
  background-color: green;
  color: white;
  border: solid 1px;
  width: 120px;
  height: 40px;
  justify-content: center !important;
  align-items: center !important;
  display: flex;
  border-radius: 5px;
}
.fileTable {
  margin-left: 2px;
}
table {
  width: 100%;
}
.mat-mdc-cell .mdc-data-table__cell .cdk-cell {
  justify-content: center !important;
  align-items: center !important;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 0 10px;
}

.mat-column-name {
  flex: none;
  width: 10px;
}

.deleteButton {
  color: #8b0000;
  border: solid 1px;
}

.editButton {
  color: #00008b;
  border: solid 1px;
}
.downloadButton{
  color: #1b1b1d;
  border: solid 1px;
}
.mat-column-actions{
  width: 30px;
}
