<mat-nav-list>
  <div class="logo py-4">
    <img src="/assets/cimf.png" />
  </div>
  <mat-divider></mat-divider>

  <div class="yassine">
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/dashboard/home"
    >
      <mat-icon>home</mat-icon> Home
    </a>
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/dashboard/files"
    >
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/dashboard/users"
  >
    <mat-icon>table</mat-icon>Users
  </a>
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/dashboard/accounts"
    >
      <mat-icon>password</mat-icon>
      Accounts</a
    >
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="/dashboard/edit-account"
    >
      <mat-icon>edit</mat-icon> Edit Account
    </a>
    <a mat-list-item routerLink="/login">
      <mat-icon>logout</mat-icon> Logout
    </a>
  </div>
</mat-nav-list>
