<div class="parent">
  <div class="container">
    <div class="login-box">
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="input-box">
          <input type="email" formControlName="email" required>
          <label>Email</label>
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            <small *ngIf="loginForm.get('email')?.hasError('required')" class="handelError">Email is required</small>
            <small *ngIf="loginForm.get('email')?.hasError('email')" class="handelError">Invalid email address</small>
          </div>
        </div>
        <div class="input-box">
          <input type="password" formControlName="mdp" required>
          <label>Password</label>
          <div *ngIf="loginForm.get('mdp')?.invalid && loginForm.get('mdp')?.touched">
            <small *ngIf="loginForm.get('mdp')?.hasError('required')" class="handelError">Password is required</small>
          </div>
        </div>
        <button type="submit" class="btn" [disabled]="loginForm.invalid">Login</button>
      </form>
    </div>
  </div>
</div>
