<mat-nav-list>
  <div class="logo py-4">
    <img [src]="logoUrl" />
  </div>
  <mat-divider></mat-divider>

  <div class="yassine">
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      [routerLink]="['/dashboardUser/home-user', userType]"
    >
      <mat-icon>home</mat-icon> Home
    </a>
    <a
      mat-list-item
      routerLinkActive="list-item-active"
      [routerLink]="['/dashboardUser/files-user', userType]"
    >
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item [routerLink]="['/dashboardUser/changePassword-user', userType]">
      <mat-icon>security</mat-icon> Change Password
    </a>
    <a mat-list-item routerLink="/login">
      <mat-icon>logout</mat-icon> Logout
    </a>
  </div>
</mat-nav-list>
